root: ./dist
router:
  pattern: ^\/
  index: index.html
  location:
    "/":
      url: 'http://localhost:8050'
      remove: false
port: 8080
secure: false
certificate:
  cert:
  key:
  client_cert:
timeout:
  read: 30
  write: 30
  idle: 30
logger:
  format: "[${time}] ${ip} ${protocol} ${status} - ${latency} ${method} ${url}"
  filename: web
  time:
    # golang time format
    format: 15:04:05
    zone: Local
    # millisecond
    interval: 500